include mixins.jade
doctype html
html
    head
        +head-meta()
        +head-css()
        title HTC Mirror Tunnel
    body
   
        +experiment-typography()

        //-Scripts
        +core-scripts()