include mixins.jade
doctype html
html
    head
        +head-meta()
        +head-css()
        title HTC Mirror Tunnel
    body

        #punter( data-punter )
   
        h1 Punter
        h2 CID: #{cid}

        p This is the punter application

        //-Scripts
        +core-scripts()