include mixins.jade
doctype html
html
    head
        +head-meta()
        +head-css()
        title HTC Mirror Tunnel
        link( rel="manifest", href="/manifest.json" )
    body
        #punter( data-punter-viz, data-punter-cid=cid )
   
        h1 Punter
        h2 CID: #{cid}
    
        .punter-cid-dots
                while cid-- > 0
                    .punter-cid-dot
                    
        //-Scripts
        +core-scripts()