include mixins.jade
doctype html
html
    head
        +head-meta()
        +head-css()
        title HTC Mirror Tunnel
    body
   
        h1 Punter
        h2 CID: #{cid}

        //-Scripts
        +core-scripts()